{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="">Important</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="important"> Yes
                    </label>
                </div>
              </div>
            <div class="form-group">
                <label>Address</label>
                <p id="ipaddress"/>
            </div>
            <div class="form-group">
                <label>Mac</label>
                <p id="macaddress"/>
            </div>
            <div class="form-group">
                <label>Hostname</label>
                <p id="hostname"/>
            </div>
            <div class="form-group">
                <label>Vendor</label>
                <p id="vendor"/>
            </div>
            <button id="save" class="btn btn-primary">Save</button>
            <button id="delete" class="btn btn-danger">Delete</button> 
        </div>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript">

      var macaddress;

      $(function(){
        macaddress = location.href.substr(location.href.lastIndexOf('/') + 1)
        getDevice();
      });

      $("#save").click(function(){
            var name = $("#name").val();
            var important = $("#important").is(":checked");
            var json = {
                "name" : name,
                "important" : important
            }

            $.ajax({
                method: "PATCH",
                url: "/api/v1/devices/" + macaddress,
                data: JSON.stringify(json),
                contentType: 'application/json',
                success(data, status, xhr){
                    console.log("Saved");
                },
                error(xhr, status, error){
                    console.log(xhr);
                }
            });
      });

      $("#delete").click(function(){
            $.ajax({
                method: "DELETE",
                url: "/api/v1/devices/" + macaddress,
                success(data, status, xhr){
                    window.location.replace('/');
                },
                error(xhr, status, error){
                    console.log(xhr);
                }
            });
      });
  
      function getDevice(){
        $.ajax({
          method: "GET",
          url: "/api/v1/devices/" + macaddress,
          success(device, status, xhr){
            $("#name").val(device.name);
            $("#macaddress").html(device.macaddress);
            $("#ipaddress").html(device.ipaddress);
            $("#vendor").html(device.vendor);  
            $("#hostname").html(device.hostname); 
            $("#important").prop( "checked", device.important);
         },
          error(xhr, status, error){
            console.log(xhr);
          }
        });
      }

    </script>
{% endblock %}
